<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDVsaLZiCfIQBMwcKvRXotxXjpFSiwz-NQ</string>
	<key>GCM_SENDER_ID</key>
	<string>979241566174</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>pro.unger1984.birds</string>
	<key>PROJECT_ID</key>
	<string>musetory-a3e18</string>
	<key>STORAGE_BUCKET</key>
	<string>musetory-a3e18.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:979241566174:ios:a50ef4fa0c86511c2aa74f</string>
	<key>DATABASE_URL</key>
	<string>https://musetory-a3e18.firebaseio.com</string>
</dict>
</plist>